@model Fiap.RH.Sistema.Contratacao.MCV.Web.ViewModels.CandidatoViewModel

@{
    ViewBag.Title = "Cadastro de Candidato";
    ViewBag.TitleMenu = "Candidato";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h2>Cadastrar Candidato</h2>
        </div>
        <div class="card-body">

            @Helper.Message(Model.Mensagem, "alert alert-success")

            @Html.ValidationSummary()

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(a => a.Nome)
                        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Nome)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.Publico)
                    @Html.CheckBoxFor(a => a.Publico)
                    @Html.ValidationMessageFor(a => a.Publico)
                </div>

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(a => a.Email)
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Email)
                    </div>
                </div>


                <div class="row">
                    <!--Residencial-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.Residencial)
                        @Html.TextBoxFor(a => a.Residencial, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Residencial)
                    </div>
                    <!--Celular-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.Celular)
                        @Html.TextBoxFor(a => a.Celular, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Celular)
                    </div>
                </div>


                       <!--Checkboxes-->
                <div class="row">
                    <!--CV-->
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.LabelFor(a => a.Cv)
                            @Html.CheckBoxFor(a => a.Cv)
                            @Html.ValidationMessageFor(a => a.Celular)
                        </div>
                    </div>

                    <!--Confirmação-->
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.LabelFor(a => a.Confirmacao)
                            @Html.CheckBoxFor(a => a.Confirmacao)
                            @Html.ValidationMessageFor(a => a.Confirmacao)
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.LabelFor(a => a.ProvaTecnica)
                            @Html.CheckBoxFor(a => a.ProvaTecnica)
                            @Html.ValidationMessageFor(a => a.ProvaTecnica)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.Nota)
                        @Html.TextBoxFor(a => a.Nota, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Nota)
                    </div>
                </div>

                            <!--RM-->
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.Rm)
                        @Html.TextBoxFor(a => a.Rm, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Rm)
                    </div>
                </div>

                <div class="row">
                    <!--Unidade-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.UnidadeId)
                        @Html.DropDownListFor(a => a.UnidadeId,
                Model.UnidadeSelectList, "Selecione",
                new { @class = "select2" })
                        @Html.ValidationMessageFor(a => a.UnidadeId)
                    </div>


                    <!--Fábrica-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.FabricaId)
                        @Html.DropDownListFor(a => a.FabricaId,
                Model.FabricaSelectList, "Selecione",
                new { @class = "select2" })
                        @Html.ValidationMessageFor(a => a.FabricaId)
                    </div>
                </div>

                <div class="row">
                    <!--Unidade-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.CursoId)
                        @Html.DropDownListFor(a => a.CursoId,
                Model.CursoSelectList, "Selecione",
                new { @class = "select2" })
                        @Html.ValidationMessageFor(a => a.CursoId)
                    </div>

                    <!--Fábrica-->
                    <div class="col-md-3">
                        @Html.LabelFor(a => a.PerfilId)
                        @Html.DropDownListFor(a => a.PerfilId,
                Model.PerfilSelectList, "Selecione",
                new { @class = "select2" })
                        @Html.ValidationMessageFor(a => a.PerfilId)
                    </div>
                </div>

                <div class="form-group">
                    @Helper.Submit("Salvar", "btn btn-primary")
                </div>
            }
        </div>
    </div>
</div>

